* {
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat, sans-serif;
  src: url("assets/fonts/Montserrat-VariableFont_wght.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
}
